<% if user_signed_in? %>
  <h1>Your Recipes</h1>
<% else %>
  <h1>Available Recipes</h1>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'Favorites' %><br />
  <%= link_to 'Add a new recipe', new_recipe_path %>
<% end %>
<br><br>

Search the Cookbook:
<%= form_tag(recipes_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :content, params[:content], placeholder: "What sounds tasty?" %>
  <%= text_field_tag :duration, params[:duration], placeholder: "How long do you want to cook for?" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<% if @recipes.blank? %>
  There are no recipes containing the term <%= params[:content] || params[:duration] %>.
<% end %>

<ul>
  <% @recipes.each do |recipe| %>
    <li><%= link_to recipe.name, recipe %></li>
  <% end %>
</ul>

<%= link_to "Home", root_path %>
