<div class="panel">
  <div class="recipe_header">
    <h2>The Cookbook</h2>
  </div>

  <div class="recipe_header_links">
    <% if user_signed_in? %>
      <%= link_to 'Add a new recipe', new_recipe_path %>
    <% end %>
  </div>
  <br><br>

  <div class="cookbook_search">
    Search the Cookbook by Ingredient or Prep Time (or both!):
    <%= form_tag(recipes_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :content, params[:content], placeholder: "What sounds tasty?" %>
      <%= text_field_tag :duration, params[:duration], placeholder: "How long do you have?" %>
      <%= submit_tag "Search", :name => nil, class: "button" %>
    <% end %>
  </div>

  <div class="recipe_results">
    <div id="recipes_alert">
      <% if @recipes.blank? %>
        There are no recipes containing the term <%= params[:content] %> and <%= params[:duration] %>.
      <% end %>
    </div>

    <ul>
      <% @recipes.each do |recipe| %>
        <li><%= link_to recipe.name, recipe %> (<%= recipe.duration %>)</li>
      <% end %>
    </ul>
  </div>
</div>
