<h1><%= @recipe.name %></h1><br/>
Total time: <%= @recipe.duration %></br>
Ingredient list:
<ul>
  <% ingredient_list = @recipe.ingredients.split(", ") %>
  <% ingredient_list.each do |ingredient| %>
    <li><%= ingredient %></li>
  <% end %><br>
</ul>
Instructions:
<%= @recipe.instructions %>
<br />
<% if user_signed_in? %>
  <% user = current_user.id %>
  <% recipe_user = @recipe.user_id %>
  <% if user == recipe_user %>
    <%= link_to "Edit", edit_recipe_path(@recipe) %>
  <% end %>
<% end %>
<br />
<%= link_to "Home", root_path %>
<br />
<%= link_to "Return to list", recipes_path %>
