<div class="panel">
  <% if current_user.eql?(@user) %>
  <h5>Your profile, <%= @user.email %><br></h5>
  <% @recipes = Recipe.where(user: @user.id) %>
  <div class="user_recipes">
    <h3>
      Your personal recipe collection
    </h3>
    <ul>
      <% @recipes.each do |recipe| %>
        <li><%= link_to recipe.name, recipe %> (<%= recipe.duration %>)</li>
      <% end %>
    </ul>
    <h3>
      Your favorite recipes
    </h3>
    <% @favorites.each do |favorite| %>
      <li><%= link_to favorite.name, favorite %> (<%= favorite.duration %>)</li>
    <% end %>
  <% else %>
    Sorry, you don't have access to this page.
  <% end %>
  </div>
</div>
