<h1>Recipe Search</h1>

Enter an ingredient:
<%= form_tag({controller: 'ingredients', action: 'index'}, {method: :get}) do %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search", name: "Search" %>
<% end %>

Recipe options for <%= @query %>
<% @results.each do |recipe| %>
  <li><%= link_to recipe.name, "/ingredients/#{recipe.id}" %></li>
<% end %>

<br />
Recipe search powered by <a href='http://www.yummly.com/recipes'><img alt='Yummly' src='http://static.yummly.com/api-logo.png'/></a>
<br />

<%= link_to "Home", root_path %>
