<div class="panel">
  <h1><%= @recipe.name %></h1>
  <% recipe = @recipe.json %>
  <% source = recipe["source"] %>
  Courtesy of:
  <%= source["sourceDisplayName"] %>, <%= link_to source["sourceSiteUrl"], source["sourceSiteUrl"] %>
  <br><br>
  <ul>
    <% list = @recipe.ingredients %>
    <% list.each do |ingredient| %>
      <li><%= ingredient %></li>
    <% end %>
  </ul>

  Like what you see? Get more info here:<br />
  <div class="api_info">
    <h3><%= link_to @recipe.name, @recipe.attribution.url %></br></h3>
  </div>

  <%= @recipe.attribution.text %><br>
  <img src="http://static.yummly.com/api-logo.png"></img>
</div>
